body {
  font-family: "Roboto";
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.box-bg {
  width: 1600px;

  background: #ffffff;
}
.warning-box {
  color: #212121;
}
.warning {
  color: white;
}
ul {
  list-style-type: none;
}
.logo-header {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: none;
}
.logo-header:hover {
  text-decoration: underline;
}
.agency {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #2196f3;
}
.agency:hover {
  text-decoration: underline;
}
.portfolio {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: #212121;
}
.portfolio:hover {
  text-decoration: underline;
}
.contact {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.contact:hover {
  text-decoration: underline;
}
.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.box-bg > .mail:hover {
  text-decoration: underline;
}
.box-bg > .tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.box-bg > .tel:hover {
  text-decoration: underline;
}
/* Sekcja przycisk */
.bg {
  background: #2f303a;
}
.text-bg {
  font-weight: 900;
  font-size: 44px;
  line-height: 1,36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.text-bg:hover {
  text-decoration: underline;
}

.text-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1,875;
  text-decoration: none;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  border: #2196f3;
}
button:hover {
  text-decoration: underline;
}
/* Atuty */

.column-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,714;
  letter-spacing: 0.03em;
  color: #757575;
}
.column-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,714;
  letter-spacing: 0.03em;
  color: #757575;
}
.column-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,714;
  letter-spacing: 0.03em;
  color: #757575;
}
.column-4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1,714;
  letter-spacing: 0.03em;

  color: #757575;
}
.column-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/* Czym się zajmujemy */
.job > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,166;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.classes1 {
  mix-blend-mode: normal;
}
.classes2 {
}
.classes3 {
}
/* Nasz zespół */
.team {
  background: #f5f4fa;
}
.team > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1,166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.wolker-list h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,187;
  text-align: center;
  letter-spacing: 0.03em;
  color:black;
}
.wolker-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1,187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.worker1 {
  text-align: center;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker2 {
  text-align: center;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker3 {
  text-align: center;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.worker4 {
  text-align: center;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Stopka */

.footer-bg {
  padding-left: 215px;
  background: #2f303a;
}
.logo-footer {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,192;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-footer:hover {
  text-decoration: underline;
}

.contact-link {
  text-decoration: none;
  color: #757575;
}

.contact-link[href*="com"]{
  text-decoration-line: underline;
}
.contact-link:hover {
  text-decoration: underline;
}
.contact-first {
  color: white;
}

/* PORTFOLIO */

.agency-link {
  font-weight: 700;
  font-size: 14px;
  line-height:1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: black;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  cursor: pointer;
}
.button-first {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #2196f3;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.portfolio-list {
  background: #ffffff;
  text-align: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-list h3{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.portfolio-list p{
font-weight: 400;
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.03em;
color: #757575;
}
